@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --bg-color: #6c3483;
  --gray: #999;
  --light-gray: rgb(191, 191, 191);
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  font-size: 10px;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dictionary-container {
  width: 420px;
  background-color: var(--white);
  padding: 1.8rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 1.8rem;
}

form {
  border: 2px solid var(--gray);
  padding: 0 1rem;
  border-radius: 0.3rem;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  all: unset;
  flex: 1;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  color: var(--black);
}

i {
  font-size: 1rem;
  cursor: pointer;
  color: var(--gray);
}

.clear-btn {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}

.show-clear-btn {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-gray);
}

p {
  color: var(--gray);
  font-size: 0.8rem;
}

/* Focus state */
.set-focus-mag {
  color: var(--bg-color);
}

.set-focus-border {
  border: 2px solid var(--bg-color);
}

.info {
  margin-top: 0.7rem;
}

.result-container {
  max-height: 0;
  transition: all 0.2s ease;
}

.result,
.result-header {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.show-result {
  max-height: 290px;
}

.show-result-components {
  opacity: 1;
}

.show {
  display: block;
}
