.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.word-info {
  padding-block: 0.8rem;
}

.word-response {
  font-size: 1.5rem;
  font-weight: 500;
}

.phonetic-sound{
  margin-left: .3rem;
  color: var(--gray);
  font-size: .8rem;
}

p,
h3 {
  padding: 0;
  margin: 0;
}

h3 span{
  color: var(--gray);
  font-size: .8rem;
}

.result-body h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.result-body p {
  font-size: 0.9rem;
}

.result-body {
  padding: 0 0 1rem;
}

.result {
  max-height: 210px;
  overflow-y: auto;
}

.result::-webkit-scrollbar {
  display: none;
}

.line-through {
  border-bottom: 1px solid var(--light-gray);
}

.meaning,
.example {
  border-left: 3px solid var(--bg-color);
  border-radius: 0.3rem;
}

.example {
  padding: 0 0.6rem;
  margin-block: 1rem;
}

.meaning {
  padding: 0 0.6rem;
  margin-block: 1rem;
}

.audio-listen{
  color: var(--bg-color);
}